<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='description.css') }}"/>
	<title>Description</title>
</head>

<body>

   	<div class="heading">
   	<h1>All About Human Development Index</h1>
   	</div>

   	<div class="intro">
   		<p>
   			The Human Development Index (HDI) is an index that measures key dimensions of human development. The three key dimensions are:<br><br>

			– <b>A long and healthy life</b> – measured by life expectancy.<br><br>

			– <b>Access to education</b> – measured by expected years of schooling of children at school-entry age and mean years of schooling of the adult population.<br><br>

			– <b>And a decent standard of living</b> – measured by Gross National Income per capita adjusted for the price level of the country.<br><br>

			This entry provides a basic overview of the Human Development Index over the last decades using the standard HDI methodology of the UNDP.<br><br>

			In addition we are looking at long-term development by relying on the Historical Index of Human Development (HIHD), developed by historian Leandro Prados de la Escosura.<br><br>

			The metrics of the HDI and HIHD are similar, but differ slightly in how they are used to derive the development index – details on these measures can be found in the definitions section below.<br><br>
   		</p>
   	</div>


   	<div class="a1">
   		<h1>The Human Development Index Around the World</h1>
   	</div>

   	<div class="intro">
   		<p>The HDI data is regularly published by the United Nations Development Programme.<br><br>

	The differences across the world are very large, ranging from the highest values in North America, Europe, Japan, and Oceania to the lowest in central Africa.<br><br>
</p>
   	</div>

   	<div class="a1">
   		<h1>The components of the HDI</h1>
   	</div>

   	<div class="a2">
   		<h2>Health</h2>
   	</div>

   	<div class="intro">
   		<h3>Life Expectancy</h3><br><br>
   		<p>
   			Life expectancy is the key metric for assessing population health. Broader than the narrow metric of the infant and child mortality, which focus solely at mortality at a young age, life expectancy captures the mortality along the entire life course. It tells us the average age of death in a population.<br><br>

			Estimates suggest that in a pre-modern, poor world, life expectancy was around 30 years in all regions of the world.<br><br>

			Life expectancy has increased rapidly since the Age of Enlightenment. In the early 19th century, life expectancy started to increase in the early industrialized countries while it stayed low in the rest of the world. This led to a very high inequality in how health was distributed across the world. Good health in the rich countries and persistently bad health in those countries that remained poor. Over the last decades this global inequality decreased. No country in the world has a lower life expectancy than the countries with the highest life expectancy in 1800. Many countries that not long ago were suffering from bad health are catching up rapidly.<br><br>

			Since 1900 the global average life expectancy has more than doubled and is now above 70 years. The inequality of life expectancy is still very large across and within countries. in 2019 the country with the lowest life expectancy is the Central African Republic with 53 years, in Japan life expectancy is 30 years longer.<br><br>

				<h6><i>by Max Roser, Esteban Ortiz-Ospina and Hannah Ritchie<br>
		First published in 2013; last revised in October 2019.</i></h6><br><br>
   		</p>
   	</div>

   		<div class="a2">
   		<h2>Education</h2>
   	</div>

   	<div class="intro">
   		<h3>Expected and average years of schooling</h3><br><br>
   		<p>
   			The second component – access to education – is measured by expected years of schooling of children at school-entry age and mean years of schooling of the adult population.<br><br>

			Education has been one of the most integral drivers and outcomes of global development.<br><br>

			The provision of education is now viewed in most parts of the world as a basic right – with pressure on governments to ensure high-quality education for all.<br><br>

			There are many metrics we can use to assess education access, quality, and attainment – we cover many of them throughout our work on education.<br><br>

			The visualizations present the two metrics that the HDI captures:<br><br>

			<ul>
				<li><b>Mean years of schooling</b> estimates the average number of years of total schooling adults aged 25 years and older have received. This data extends back to the year 1870 and is based on the combination of data from Lee and Lee (2016); Barro-Lee (2018); and the UN Development Programme.</li>
			<li><b>Expected years of schooling</b> measures the number of years of schooling that a child of school entrance age can expect to receive if the current age-specific enrollment rates persist throughout the child’s life by country.</li>
		</ul>
   		</p>
   	</div>

   	<div class="a2">
   		<h2>Standard of Living</h2>
   	</div>

   	<div class="intro">
   		<h3>GNI per capita</h3><br><br>
   		<p>
   			The architects of the HDI have decided to add a third dimension – a decent standard of living – and to measure it by Gross National Income per capita.<br><br>

			For most of human history, our ancestors were stuck in a world of poor health, hunger and little access to formal education. Economic growth – particularly over the past few centuries – has allowed some part of the world population to break out of these conditions.<br><br>

			This metric is adjusted for price changes over time, and price differences between countries – it is measured in international-$ in 2011 prices.<br><br>
   		</p>
   	</div>

   	<div class="a1">
   		<h1>How is the Human Development Index calculated?</h1>
   	</div>

   	 <div class="intro">
   	 	<p>
   	 	The Human Development Index (HDI) provides a single index measure to capture three key dimensions of human development: a long and healthy life, access to knowledge and a decent standard of living.<br><br>

		The HDI utilizes four key metrics:<br><br>

		<b><i>life expectancy at birth</i></b> – to assess a long and healthy life
		<b><i>expected years of schooling</i></b> – to assess access to knowledge of the young generation<br><br>
		<b><i>average years of schooling</i></b> – to assess access to knowledge of the older generation<br><br>
		<b><i>gross national income (GNI) per capita</i></b> – to assess the standard of living<br><br>
		There are two steps to calculating the HDI:<br><br>

		<b><i>1. Forming indices for each of the four metrics</i></b><br><br>

		Values of each of the four metrics are first normalized to an index value of 0 to 1. To do this, “goalposts” of the maximum and minimum limits on each metrics are set by the UNDP, as shown in the table.<br><br>

		With the actual value for a given country, and the global maximum and minimum, the dimension (indices) value for each metric is calculated as:<br><br><br><br>


		<h3 style="text-align: center;"><b><i>Dimension index = (actual value - minimum value) <span> &#247; </span> (maximum value - minimum value)</i></b><br><br><br><br></h3>


		The dimension index is therefore 1 in a country that achieves the maximum value and it is 0 for a country that is at the minimum value.<br><br>

		<b><i>2. Aggregating the four metrics to produce the HDI</i></b><br><br>

		Once each of the individual indices have been calculated, they are aggregated to calculate the HDI.<br><br>

		The HDI is calculated as the geometric mean (equally-weighted) of life expectancy, education, and GNI per capita, as follows:<br><br><br><br>

		<h3 style="text-align: center;"><b><i> HDI = (I<sub>Health</sub> * I<sub>Education</sub> * I<sub>Income</sub>)<sup>1/3</sup> </i></b><br><br><br><br></h3>


		The education dimension is the arithmetic mean of the two education indices (mean years of schooling and expected years of schooling).<br><br>
	</p>
  </div>

  <div>
	<nav id="sidenav">
		<ul>
			<li><a href="{{url_for('hello_world')}}">HOME</a></li>
<datalist id="suggestions">
<option value="Afghanistan">Afghanistan</option>
<option value="Algeria">Algeria</option>
<option value="Argentina">Argentina</option>
<option value="Australia">Australia</option>
<option value="Austria">Austria</option>
<option value="Bahrain">Bahrain</option>
<option value="Bangladesh">Bangladesh</option>
<option value="Barbados">Barbados</option>
<option value="Belgium">Belgium</option>
<option value="Bolivia">Bolivia</option>
<option value="Brazil">Brazil</option>
<option value="Bulgaria">Bulgaria</option>
<option value="Burundi">Burundi</option>
<option value="Cameroon">Cameroon</option>
<option value="Canada">Canada</option>
<option value="Central African Republic CAR">Central African Republic CAR</option>
<option value="Chili">Chili</option>
<option value="China">China</option>
<option value="Colombia">Colombia</option>
<option value="Costa Rica">Costa Rica</option>
<option value="Croatia">Croatia</option>
<option value="Cuba">Cuba</option>
<option value="Cyprus">Cyprus</option>
<option value="Denmark">Denmark</option>
<option value="Dominican Republic">Dominican Republic</option>
<option value="Ecuador">Ecuador</option>
<option value="Egypt">Egypt</option>
<option value="El Salvador">El Salvador</option>
<option value="Ethiopia">Ethiopia</option>
<option value="Fiji">Fiji</option>
<option value="Finland">Finland</option>
<option value="France">France</option>
<option value="Gambia">Gambia</option>
<option value="Germany">Germany</option>
<option value="Ghana">Ghana</option>
<option value="Greece">Greece</option>
<option value="Haiti">Haiti</option>
<option value="Honduras">Honduras</option>
<option value="Hungary">Hungary</option>
<option value="Iceland">Iceland</option>
<option value="India">India</option>
<option value="Indonesia">Indonesia</option>
<option value="Iran">Iran</option>
<option value="Iraq">Iraq</option>
<option value="Ireland">Ireland</option>
<option value="Italy">Italy</option>
<option value="Jamaica">Jamaica</option>
<option value="Japan">Japan</option>
<option value="Jordan">Jordan</option>
<option value="Kenya">Kenya</option>
<option value="Kuwait">Kuwait</option>
<option value="Lao">Lao</option>
<option value="Latvia">Latvia</option>
<option value="Lesotho">Lesotho</option>
<option value="Libya">Libya</option>
<option value="Malaysia">Malaysia</option>
<option value="Mauritius">Mauritius</option>
<option value="Mexico">Mexico</option>
<option value="Morocco">Morocco</option>
<option value="Mozambique">Mozambique</option>
<option value="Myanmar">Myanmar</option>
<option value="Nepal">Nepal</option>
<option value="Netherlands">Netherlands</option>
<option value="New Zealand">New Zealand</option>
<option value="Niger">Niger</option>
<option value="Norway">Norway</option>
<option value="Pakistan">Pakistan</option>
<option value="Paraguay">Paraguay</option>
<option value="Peru">Peru</option>
<option value="Philippines">Philippines</option>
<option value="Poland">Poland</option>
<option value="Portugal">Portugal</option>
<option value="Qatar">Qatar</option>
<option value="Romania">Romania</option>
<option value="Russian Federation">Russian Federation</option>
<option value="Rwanda">Rwanda</option>
<option value="Saudi Arabia">Saudi Arabia</option>
<option value="Senegal">Senegal</option>
<option value="Singapore">Singapore</option>
<option value="South Africa">South Africa</option>
<option value="South Korea">South Korea</option>
<option value="Spain">Spain</option>
<option value="Sri Lanka">Sri Lanka</option>
<option value="Sudan">Sudan</option>
<option value="Sweden">Sweden</option>
<option value="Switzerland">Switzerland</option>
<option value="Tanzania">Tanzania</option>
<option value="Thailand">Thailand</option>
<option value="Turkey">Turkey</option>
<option value="United Arab Emirates">United Arab Emirates</option>
<option value="United Kingdom">United Kingdom</option>
<option value="United States">United States</option>
<option value="Uruguay">Uruguay</option>
<option value="Venezuela">Venezuela</option>
<option value="Vietnam">Vietnam</option>
<option value="Yemen">Yemen</option>
<option value="Zambia">Zambia</option>
<option value="Zimbabwe">Zimbabwe</option>
</datalist>
<li>
<label>Search your country</label>
<form name="state" method="POST">
<input type="text" autoComplete="on" list="suggestions" name="state" required="required" />
<button class="button" style="vertical-align:middle"><span>Show </span></button>
</form>
</li>
<li><a href="{{url_for('compare')}}">Compare between</a></li>
<li><a href="{{url_for('description')}}">More About HDI</a></li>
			<li><a href="{{url_for('admin_login')}}">Admin login</a></li>
			
		</ul>
	</nav>
</div>
  <div id="menubtn">
	  <img src="{{ url_for('static', filename='images/menu.png') }}" id="menu">
  </div>
  <script>
	  var menubtn = document.getElementById("menubtn")
	  var sidenav = document.getElementById("sidenav")
	  var menu = document.getElementById("menu")

	  menubtn.onclick = function(){
		  if(sidenav.style.right == "-250px"){
			  sidenav.style.right = "0";
			  menu.src = "{{ url_for('static', filename='images/close.png') }}";
		  }
		  else{
			  sidenav.style.right = "-250px";
			  menu.src = "{{ url_for('static', filename='images/menu.png') }}";
		  }
	  }
  </script>

</body>
</html>